@import url(colors.css);

.input_large{
    height: 7rem;
}

.fc_title{
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

.fc_desc{
    margin: .2rem 0 1.5rem 0;
    color: var(--text-color-secundary);
    font-family: "Palanquin", sans-serif;
}