main{
    height: 70vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

main .home img{
    width: 35%;

    filter: drop-shadow(1rem 1rem .9rem #00000080);  
    
    cursor: pointer;
    transition: all 0.2s ease;

    -webkit-user-select: none; /* (Safari, Chrome) */ 
    -moz-user-select: none; /*(Firefox) */ 
    -ms-user-select: none; /*Internet Explorer/Edge */
    user-select:none;
}

main .home h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;

    line-height: 3rem;

    color: var(--text-color);

    margin-top: 2rem;
}

main .home span{
    color: #6a6d76;
    font-size: 2.5rem;
}

main .home p{
    margin-top: 1rem;
    font-family: sans-serif;

    color: var(--text-color);
}

main .home .button{
    color: var(--bg-home);

    font-family: "Palanquin", sans-serif;

    text-decoration: none;
    background-color: var(--text-color);

    padding: .5rem 2rem;
    margin-top: 2rem;
}